.icon{
    font-size: 20px;
}

.toggle-path {
    background-color: pink;
    transition: background 0.3s ease-in-out;
}

.toggle-circle {
    top: 0.2rem;
    left: 0.25rem;
    transition: all 0.3s ease-in-out;
}

input:checked~.toggle-circle {
    transform: translateX(100%);
}

input:checked~.toggle-path {
    background-color: #81E6D9;
}

.error {
    color: red;
    border-color: red;
}

[x-cloak] {
    display: none;
}